.search-result-row {
  margin-top: 5px;
  width: 500px;
  padding: 10px;
  border-radius: 4px;
  background-color: #787878;
  color: white;
}

.search-result-row:hover {
  cursor: pointer;
  background-color: #1565C0;
}

.search-result-row-content {
  display: flex;
  justify-content: space-between;
}

.button {
  margin-left: '8px';
  background-color: '#1565C0' !important;
}

.pagination {
  margin-top: 10px;
}

.bold {
  font-weight: 700;
}

.updated-date {
  font-weight: 700;
  text-align: right;
}

.italic {
  font-style: italic;
}

.package-main {
  display: flex;
  flex-flow: column;
  height: inherit;
  justify-content: center;
  align-items: center;
}

.package-name {
  font-weight: 700;
  font-size: 24px;
  text-decoration: underline;
  color: #0060B6;
}